@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
	background: url('https://images.unsplash.com/photo-1519120693210-d47b03b31d77?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3b8d462021896b6a8825629fb69a04b4&auto=format&fit=crop&w=2137&q=80');
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    color: black;
    text-align: center;
    border-radius: 10px 10px 10px 10px; 
}

.column-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.card-list {
  list-style: none;
  margin: 5px;
  padding: 0px;
}

li {
    list-style: none;
    min-height: 100px;    
    padding: 10px;
    margin: 20px 20px;
    cursor: all-scroll;
}

.column {
    order: 1;
  min-width: 300px;
  min-height: 50vh;
  background-color: lightgrey;
  margin: 10px;
  list-style: none;
  position: relative;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
}


.create-column {
  cursor: pointer;
    width: 200px;
    height: 50px;
    font-size: 25px;
    background: #9999FF;
    margin: 20px 40%;
    display: inline-block;
}

button:hover{
    opacity: 0.7;
}

h1, h2 {
    font-weight: 900;
    font-size: 48px;
    margin-top: 40px;
    color: white;
}

.btn-delete {
  cursor: pointer;
    position: absolute;
  right: 0;
  top: 0;
  border: 0;
    height: 30px;
    margin: 5px;
    background: rgba(31, 31, 52, 0.6);
    padding: 0 10px;
    color: white;
}


li .btn-delete {

    background: #a97008;

}

.column-add-card {
  cursor: pointer;
  text-decoration: none;

  display: block;
      height: 40px;
    margin: 0 20px;
    padding: 0 10px;
    background: #a97008;
}


.card {
  box-sizing: border-box;
  display: block;
  height: 60px;
  margin-bottom: 5px;
  padding: 4px;
  overflow: hidden;
  position: relative;
}

li.card {
    background: rgba(255, 255, 255, 0.6);
    margin-left: 0 20px;
}

.card-description {
  margin: 2px 0;
}
.card-placeholder {
  box-sizing: border-box;
  display: block;
  height: 60px;
  margin-bottom: 5px;
  border: 2px solid lightgrey;
  background-color: lightblue;
}
